#HomePage{
    width: 100%;
    height: 100%;
    background-color: #4f5d74 !important;

}
#AboutPage {
    width: 100vw;
    height: 100vh;
    background-color: #ffc9b6;
    padding-left: 0px;
}
#WorkPage {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: #4f5d74 !important;

}
#ContactPage {
    width: 100vw;
    height: 100vh;
    background-image: url("./images/contactBG.png");
    background-size: 100%;
}
body  {
    /* background-color: #4f5d74 !important; */
    height:100vh;
    width:100vw;
  }

.initials {
    color: #ef8356;
    margin-top: 25px;
    padding: 0px;
}
.nav-link {
    color: #ef8356 !important;
}
.customNav {
    margin-top: 200px;
    color: #bfc0c0;
    justify-content: center;
}

.customWorkNav {
    margin-top: 15px;
    color: #4f5d74 !important;
    justify-content: center;
}
.jumbotron {
    background-color: #4f5d74 !important;
}
.stripes {
    padding-right: 0px !important;

}
.barber{
    margin-left: 225px;
	height:100vh;
	width:15vw;
	position: inherit;
	background:#ef8356;
	background-color: -webkit-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: -moz-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: -o-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background-size: 27px 27px;
	-webkit-animation: barberpole 10s infinite linear;
  animation: barberpole 5.6s infinite linear;
    float: right;
}
.workBarber {
    margin-left: -15px;
	height:100vh;
	width:15vw;
	position: inherit;
	background:#ef8356;
	background-color: -webkit-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: -moz-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: -o-linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background: linear-gradient(-45deg, transparent 25%, #ef8356 25%, #ef8356 50%, transparent 50%, transparent 75%, #ef8356 75%);
	background-size: 27px 27px;
	-webkit-animation: barberpole 100s infinite linear;
  animation: barberpole 6.6s infinite linear;}
.lead .display-4{
    text-align: right;
}

@-webkit-keyframes barberpole {
		from {background-position: 0%;}
		to {background-position: 100%;}
}

.one {
    height: 100vh;
    width: 100vw;
}
.two {
    height: 33vh;
    width: 100vw;
}
.three {
    height: 67vh;
    width: 100vw;
    background-image: url("./images/orangeBG.png");
    background-repeat: unset;
    background-size: 1250px;
}

.outsideBoxes {
    margin-left: 90px;
    margin-top: 75px;
    padding-bottom: 50px;
    display: block
}
.insideBoxes {
    margin-left: 90px;
    /* margin-top: 25px; */
    padding-bottom: 50px;
    display: block

}
#midbox {
    margin-bottom: 150px !important;  
}
#me {
    border-top: 50px;
    padding-top: 50px;
    border-left: 50px;
}
#Contact {
    border-top: 50px;
    padding-top: 50px;
    border-left: 50px;
}
#AboutNav {
    padding-top: 50px;
    padding-left: 150px;

}
#ContactNav {
    padding-top: 100px;
}
.aboutLinks {
    color: #4f5d74 !important;
}
.contactLinks {
    color: #bfc0c0 !important;
}
.projectButton {
    margin-left: 25px;
    margin-top: 75px;
}
.orangeBox {
    /* margin-top: 60px; */
}
#Contact {
    margin-left: 150px;
}
.contactBox {
    height: 75vh;
    width: 80vw;
    margin-left: 150px;
    background-image: url("./images/contactBox.png");
    background-size: 100%;
    display: block
}
.contactButtons {
    margin: 200px 100px 0px 100px;
}
#mailButton {
    margin-left: 75px;
}